/* doubleSuggest CSS - Version 0.1 */

div.ds-container input.ds-input {
	border: 1px solid #CCCCCC;
	border-top: 1px solid #999;
	padding: 4px;
	margin: 0;
	overflow: auto;
	width: 375px;
	background-color: #fff;
	box-shadow:inset 0 1px 1px #CCC;
	-webkit-box-shadow:inset 0 1px 1px #CCC;
	-moz-box-shadow:inset 0 1px 1px #CCC;
}

div.ds-container input.ds-input.loading {
	background-color: #eee;
}

ul.as-list {
	position: absolute;
	list-style-type: none;
	margin: 2px 0 0 0;
	padding: 0;
	font-size: 14px;
	color: #000;
	font-family: "Lucida Grande", arial, sans-serif;
	background-color: #fff;
	background-color: rgba(255,255,255,0.95);
	z-index: 2;
	box-shadow: 0 2px 12px #222;
	-webkit-box-shadow: 0 2px 12px #222;
	-moz-box-shadow: 0 2px 12px #222;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

li.as-result-item, li.as-message {
	margin: 0 0 0 0;
	padding: 5px 12px;
	background-color: transparent;
	border: 1px solid #fff;
	border-bottom: 1px solid #ddd;
	cursor: pointer;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

li:first-child.as-result-item {
	margin: 0;
}

li.as-message {
	margin: 0;
	cursor: default;
}

li.as-result-item.active {
	background-color: #3668d9;
	border-color: #3342e8;
	color: #fff;
	text-shadow: 0 1px 2px #122042;
}

li.as-result-item em { 
	font-style: normal; 
	background: #444;  
	padding: 0 2px;
	color: #fff;
}

li.as-result-item.active em { 
	background: #253f7a;  
	color: #fff;
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {	
	div.ds-container input {
		height: 19px;
	}
}

/* Opera Hacks  */
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {
	ul.as-list {
		border: 1px solid #888;
	}
}

/* IE Hacks  */
ul.as-list {
	border: 1px solid #888\9;
}
